@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway&display=swap");
.container {
  min-height: 80vh;
  margin-top: 20px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Raleway";

  align-items: center;
  height: 100vh;
}

.header {
  font-size: 50px;
  margin-top: 50px;
}

.text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 40px;
}
